body{
  background-color: lightgray;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input{
  width: 40rem;
  height: 4.5rem;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.maxTemp{
  color: red;
}
.minTemp{
  color: green;
}
form h1{
  color:rgb(113, 131, 51);
}
